{% extends 'base.html.twig' %}

{% block title %}Tarifs index{% endblock %}

{% block body %}
    <h1>Tarifs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Annee</th>
                <th>Montant</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.annee }}</td>
                <td>{{ tarif.montant }}</td>
                <td>{{ tarif.createdAt ? tarif.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tarif.updatedAt ? tarif.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('tarifs_show', {'annee': tarif.annee}) }}">show</a>
                    <a href="{{ path('tarifs_edit', {'annee': tarif.annee}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarifs_new') }}">Create new</a>
{% endblock %}
