{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
    <h1>Tarifs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Annee</th>
                <td>{{ tarif.annee }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ tarif.montant }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tarif.createdAt ? tarif.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tarif.updatedAt ? tarif.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tarifs_index') }}">back to list</a>

    <a href="{{ path('tarifs_edit', {'annee': tarif.annee}) }}">edit</a>

    {{ include('tarifs/_delete_form.html.twig') }}
{% endblock %}
